.optionsbox{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
   text-align: center;
   border-radius: 8px;
   padding: 0px 120px ;
}
.innerbox{
    display: flex;
    justify-content: space-between;
    
}
.butchoice1{
width:40%;
padding: 4px 4px;
}
.butchoice2{
width:40%;
padding: 4px 4px;
}