@tailwind base;
@tailwind components;
@tailwind utilities;


.custom{
    box-shadow: 0px -2px 10px 0px rgba(18, 94, 104, 0.75);
    -webkit-box-shadow: 0px -2px 10px 0px rgba(37, 48, 143, 0.75);
    -moz-box-shadow: 0px -2px 10px 0px rgba(34, 107, 73, 0.75);
}

.react-chatbot-kit-chat-container {
    border: 1px solid black;
   width: 700px !important;
}
.react-chatbot-kit-chat-bot-message {
    margin: 0px !important;
}
.react-chatbot-kit-chat-bot-avatar-container{
    display: none !important;
}
.react-chatbot-kit-chat-input-container{
    display: none !important;
}
.chatbotcover{
    display: flex;
    justify-content: center;
    align-content: center;
    /* border: 1px solid red; */
    height: 90vh;
    width: 90vw;
   
}