.react-chatbot-kit-chat-container {
   width: 700px !important;
}
.react-chatbot-kit-chat-bot-message {
    margin: 0px !important;
}
.react-chatbot-kit-chat-bot-avatar-container{
    display: none !important;
}
.chatbotcover{
    display: flex;
    justify-content: center;
    align-content: center;
    /* border: 1px solid red; */
    height: 90vh;
    width: 90vw;
   
}